<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Placement management</title>

	<style>
		.list {
			max-width: 700px;
			display: flex;
			justify-content: center;
		}

		.container {
			width: 100%;
			margin: 5px 0px;
			padding: 10px;
			border: 3px solid deepskyblue;
			border-radius: 5px;
		}

	</style>
</head>
<body>
	<div class="list">
		<div class="container">
			<h3 style="display: inline-block;">LTI</h3>
			<h4 style="display: inline-block; float: right;">Package: 7lpa</h4>
			<h5><strong>Role:</strong>SDE</h5>
		</div>
	</div>
</body>
</html>